body {
    margin: 0;
    background-color: #fff;
}

main {
    margin: 0 auto;
    width: 1080px;
    position: relative;
}

.header-1 {
    background-color: #1a1b1f;
    height: 60px;
}

.logo {
    width: 233px;
    height: 106px;
    margin-top: 10px;
    margin-left: 10px;
    float: left;

}

.rede-sociais {
    width: 230px;
    height: 60px;
    float: right;
}

.rede-sociais ul li {
    margin: 16px;
    display: inline;
}

ul {
    padding: 0px;
}

.header-2 {
    height: 60px;
    border-bottom: solid 1px #dfd9cd;
}

.menu-navigation {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    margin-top: 7px;
    justify-content: space-around;
}

.menu-navigation ul li {
    display: inline-block;
}

.menu-navigation ul li a {
    display: flex;
    color: #8f8f8f;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 17px;
    margin-left: 22px;
}

.search {
}