body {
    width: 100%;
    height: 100%;
    margin: 0 auto;
}

ul {
    padding: 0px!important;
}

.menu-principal {
    width: 100%;
    background-color: #252323;
    height: 60px;
}

main {
    margin: 0 auto;
    width: 100%;
    position: relative;
}

.logo {
    float:left;
    padding: 9px;
    width: 60%;

}
.rede-sociais ul li {
    margin-left: 18px;
    display: inline block;
    float: left;
    list-style: none;
}

.rede-sociais {
    width: 31%;
    float: right;
}
.header-2 {
    background-color: white;
    width:  100%;
    margin: 0 auto;
}

.menu-url {
    border-bottom:3px  solid #8b8b8b;
}

.menu ul li {
    display: inline-block;
    color: #8b8b8b;
    margin-left: 25px;
    height: 16px;
}

.menu ul li:hover {
    border-bottom: 1px solid #00bac6;
}

.menu ul li a:hover {
    color: #00bac6;
}
.menu ul li a {
    color: #8b8b8b;
    text-decoration: none;
    font-size: 17px;
    text-transform: uppercase;
}   

.menu {
    text-align: center;
    width:  70%;
    float: left;
}

.busca {
    width: 30%;
    float: right;
}

.busca input {
    background-image: url("../img/busca.png");
    background-repeat: no-repeat;
    background-position: 96%;
    height: 22px;
    width: 135px;
    margin-top: 12px;
    border: 1px solid #d6d6d6;
}
.col-100 {
    width: 100%;
    float: left;
    position: absolute;
    margin-top: 26px;
    
}

.slider-principal {
    width: 100%;
    width: 750px;
}