body {
    width: 100%;
    height: 100%;
}

.menu-principal {
    width: 100%;
    background-color: #252323;
    height: 60px;
}

main {
    margin:  0 auto;
    width: 980px;
    position: relative;
}

.logo {
    padding: 15px;
}

.rede-sociais ul li {
    display: inline-block;
    float: left;

}
